<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Lightshot Random Pictures</h1>
    <div class="btns">
      <button class="btnRandom" id="btn">Random</button>
      <button class="btnCopy">Copy Link</button>
    </div>
    <p id="generatedLink"></p>
    <p id="imgSrcResult"></p>
    <div class="imgdiv">
      <% images.forEach(function(image) { %>
      <img src="<%=image%>" alt="img" />
      <% }); %>
    </div>
    <script type="module" src="app.js"></script>
  </body>
</html>
